.place {
  display: grid;
  align-items: start;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title   website"
    "image   text"
    "cta     text";
  column-gap: 40px;
  row-gap: 48px;
}

.place {
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "website"
    "image"
    "text"
    "cta";
  row-gap: 24px;
}
