.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1023px) {
  .places {
    gap: 72px;
  }

  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media (max-width: 767px) {
  .places {
    gap: 50px;
  }
}
