.place__website {
  grid-area: website;
  align-self: end;
}

.place__website {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 767px) {
  .place__website {
    align-self: start;
  }
}
